<h2>Edit to daniel</h2>

<%= render "form.html", changeset: @changeset,
                        action: to_daniel_path(@conn, :update, @to_daniel) %>

<span><%= link "Back", to: to_daniel_path(@conn, :index) %></span>
