<h2 class="actorfont">Daniel Jacob Radcliffe</h2>

<div class="actor">
<div class="subactor">
  <P class="actorimage4"></P>

</div>
<span class="span"></span>
<div class="subactor">
  <p>Name: Daniel Radcliffe</P>
  <p>Born: July 23, 1989</P>
  <p>Height:  5′ 5″</P>
  <p>Country: London, United Kingdom</P>
</div>


</div>
