<h2 class="actorfont">Hugh Jackman</h2>

<div class="actor">
<div class="subactor">
  <P class="actorimage"></P>

</div>
<span class="span"></span>
<div class="subactor">
  <p>Name: Hugh Jackman</P>
  <p>Born: October 12, 1968</P>
  <p>Height: 6′ 2″</P>
  <p>Country:Sydney, Australia</P>
</div>


</div>
