<h2 class="actorfont">Homas Jeffrey Hanks</h2>

<div class="actor">
<div class="subactor">
  <P class="actorimage3"></P>

</div>
<span class="span"></span>
<div class="subactor">
  <p>Name: Tom Hanks</P>
  <p>Born: July 9, 1956</P>
  <p>Height: 6′ 0″</P>
  <p>Country: California, USA</P>
</div>


</div>
