<h2 class="actorfont">Benedict Cumberbatch</h2>

<div class="actor">
<div class="subactor">
  <P class="actorimage2"></P>

</div>
<span class="span"></span>
<div class="subactor">
  <p>Name: Benedict Cumberbatch</P>
  <p>Born: July 19, 1976</P>
  <p>Height: 6′ 0″</P>
  <p>Country:London, United Kingdom</P>
</div>


</div>
