<h2 class="actorfont">Sylvester Stallone</h2>

<div class="actor">
<div class="subactor">
  <P class="actorimage5"></P>

</div>
<span class="span"></span>
<div class="subactor">
  <p>Name: Sylvester Stallone</P>
  <p>Born: uly 6, 1946</P>
  <p>Height:  5′ 10″</P>
  <p>Country: New York, USA</P>
</div>


</div>
