<h2 class="actorfont">Henry Cavill</h2>

<div class="actor">
<div class="subactor">
  <P class="actorimage1"></P>

</div>
<span class="span"></span>
<div class="subactor">
  <p>Name: Henry Cavill</P>
  <p>Born: May 5, 1983 (age 35 years)</P>
  <p>Height: 6′ 1</P>
  <p>Country: USA, New Jersey</P>
</div>


</div>
