.mycontent{
  background-position: top;
  background-repeat: no-repeat;
  height: 600px;
  width: 400px;
}
.mycontent{
  background-image: url("/images/hero3.jpg");
  background-position: top;
  background-repeat: no-repeat;

  width: 1000px;
  height: 900px;

}

.flex-container {
  display: flex;



}

.flex-container > div {
  margin: 25px;
  padding: 160px;

}
.secondimage{
  background-image: url("/images/hero5.jpg");
  background-repeat: no-repeat;
}

.firstimage{
background-image: url("/images/hughjackman.jpg");
background-repeat: no-repeat;

}

.thridimage{
  background-image: black;
  background-image: url("/images/hero4.jpg");

  background-repeat: no-repeat;
}

.fourthimage{
background-image: url("/images/tomhanks.jpg");
background-repeat: no-repeat;

}

.fifthimage{
  background-image: url("/images/danielradcliffe.jpg");
  background-repeat: no-repeat;
}


.siximage{
  background-image: url("/images/syleves.jpg");
  background-repeat: no-repeat;

}
.name{
  font-size: 15px;
}







.actorimage{
  background-image: url("/images/hughjackman.jpg");
  width: 380px;
  height: 235px;
}
.actor{
  display: flex;
  flex-direction: row;
  position: relative;
  top: 50px;
}

.actorfont{
  text-align: center;
}
.span{
  margin-left: 60px;
}

.subactor p{
  font-size: 20px;
}

.actorimage1{
  background-image: url("/images/henrycavill.jpg");
  width: 380px;
  height: 235px;
}

.actorimage2{
  background-image: url("/images/bene.jpg");
  width: 330px;
  height: 335px;
}

.actorimage3{
  background-image: url("/images/tomhanks.jpg");
  width: 370px;
  height: 270px;
}

.actorimage4{
  background-image: url("/images/danielradcliffe.jpg");
  width: 370px;
  height: 270px;
}

.actorimage5{
  background-image: url("/images/syleves.jpg");
  width: 420px;
  height: 230px;
}
